<h2>Новый вопрос</h2>
<table>
<tr>
<td>
	Вопрос: 
	<% @txt %>
	<%= text_field_tag 'newQuestion', @txt, {size: 50} %>
</td>
</tr>
<tr>
<td>
Ответ А: <%= text_field_tag 'newQuestion', '', {size: 20} %>
</td>
</tr>
<tr>
	<td>Ответ Б: <%= text_field_tag 'newQuestion', '', {size: 20} %></td>
	<td><%= button_to 'Добавить ответ', { :action => 'addAnswer', :controller => 'questions'}, :method => :post %></td>
</tr>
</table>
<%= button_to 'Сохранить вопрос', { :action => 'saveAnswer', :controller => 'questions'}, :method => :post %>