<%= form_for :post, :url => { :action => 'saveNewQuestion', :controller => 'questions'} do |f| %>
  <p>
    <%= f.label 'Вопрос:' %><br>
    <%= f.text_field :newQuestion %>
  </p>
 
  <p>
    <%= f.label 'Ответ А:' %><br>
    <%= f.text_field :newAnswerA %>
  </p>

  <p>
    <%= f.label 'Ответ B' %><br>
    <%= f.text_field :newAnswerB %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>