<h2>Анкета</h2>
<% @check = false %>
<% @ua.each do |ch| %>
<% ch.users_id %>
<% if ch.users_id == User.current.id %>
<% @check = true %>
<% end %>
<% end %>
<% if @check == false %>
<table>
	<tr>
		<td>
			<% if User.current.admin == true %>
			<%= button_to 'Добавить вопрос', { :action => 'addQuestion', :controller => 'questions'}, :method => :post %>
			<% end %>
		</td>		
	</tr>
</table>
<% @i = 1%>
<% @ques.each do |q| %>
<p>
<%= @i %>)
<%= q.textQuestion %>?
<br>
<% @ansMany = Answers.where(questions_id: [@i]) %>
<% @ansMany.each do |a| %>
<p>
<%= radio_button_tag name = @i, 'true', false %> <%= a.textAnswer %>
</p>
</p>
<% end %>
<% @i = @i + 1 %>
<% end %>
<%= button_to 'Сохранить', { :action => 'ans', :controller => 'questions'}, :method => :post %>
<% else %>
<p>Вы уже отвечали на вопросы</p>
<table>
	<tr>
		<td><%= button_to 'Показать результаты', { :action => 'showans', :controller => 'questions'}, :method => :post %></td>
		<td>
			<% if User.current.admin == true %>
			<%= button_to 'Добавить вопрос', { :action => 'addQuestion', :controller => 'questions'}, :method => :post %>
			<% end %>
		</td>		
	</tr>
</table>
<% end %>