<head>
	<script type="text/javascript">
	function SelectRB (path) {
		document.getElementById(path).checked = true;
	}
	</script>
</head>
<h2>Анкета</h2>
<%= render :file => 'questions/admin.html' %> <!-- Вывод панели администратора -->
<% if User.current.lastname == 'Anonymous' %>
	<b>Авторизуйтесь, чтобы отвечать на вопросы</b>
<% else %>
	<% @check = false %> <!-- Если пользователь администратор: кнопка "Добавить вопрос"; Если ответы есть: кнопка "Посмотреть результаты" -->
	<% @ua.each do |ch| %>
		<% ch.users_id %>
		<% if ch.users_id == User.current.id %>
			<% @check = true %>
		<% end %>
	<% end %>
	<% if @check == true %> <!-- Если Вы отвечали на вопросы -->
		
	<% end %>
		<% if Questions.count(:id) == 0 %>
			<b>Здесь пока нет вопросов</b>
		<% end %>
		<% @i = 0 %> <!-- Порядковый номер вопроса и разное имя для группы radioButton -->
		<%= form_for :post, :url => { :action => 'saveUserAnswer', :controller => 'questions'} do |f| %>
			<% @ques.each do |q| %>			
				<p>
					<% @i = @i + 1 %>
					<b>
						<%= f.label q.textQuestion %>? <!-- Вывод вопроса -->
					</b>
					<br>
					<% @checkFreeAnswer = false %> <!-- Ответ не выделен -->
					<% @ansMany = Answers.where(questions_id: [q.id]) %> <!-- Вывод соответствующих вариантов ответа -->
					<% @ansMany.each do |a| %>
						<% if a.textAnswer != nil %>
							<% if Useranswer.where(answers_id: [a.id]).first != nil %>
								<%= f.radio_button @i, a.id, checked: true, type: "radio" %> <!-- Кнопка выбора -->
								<% @checkFreeAnswer = true %><!-- Если это ответ пользователя, помечаем, что ответ есть -->
							<% else %>
								<%= f.radio_button @i, a.id %>
							<% end %>
							<%= f.label a.textAnswer %> <!-- Текст ответа -->
							<br> <!-- Отступ с новой строки. Работает на все элементы -->					
						<% end %>
					<% end %>
					<!-- Если ответы были даны, отмечает старые ответы -->
					<% if @checkFreeAnswer == false and Useranswer.where(answers_id: Answers.where(questions_id: q.id)).count != 0 %> <!-- Если ответов не было - ответ free И ответы есть -->
						<% @checkFreeAnswer = true %> <!-- помечаем, что ответ дан -->
						<!-- Элемент, передающий id последнего варианта ответа -->
						<%= f.radio_button @i, Useranswer.where(answers_id: Answers.where(questions_id: [q.id]).last.id), checked: true %>
						<!-- Вывод текста ответа -->
						<% @text = '_' + Answers.where(questions_id: [q.id]).last.id.to_s() %>
						<% if Useranswer.where(answers_id: Answers.where(questions_id: [q.id])).last != nil %>
							<%= f.text_field @text, value: Useranswer.where(answers_id: Answers.where(questions_id: [q.id])).last.answer_freeForm %>
						<% else %>
							<% @text = '_' + Answers.where(questions_id: [q.id]).last.id.to_s() %>
							<% @t = 'SelectRB('+@i.to_s()+')' %>
							<%= f.text_field @text, onChange:@t.to_s() %>
						<% end %>
					<% else %>
						<%= f.radio_button @i, Answers.where(questions_id: [q.id]).last.id, :id => @i.to_s() %>
						<% @text = '_' + Answers.where(questions_id: [q.id]).last.id.to_s() %>
						<% @t = 'SelectRB('+@i.to_s()+')' %>
						<%= f.text_field @text, onChange:@t.to_s() %>	<!-- Свободное поле -->
					<% end %>
				</p>	
				<img id="spl">
				<br>
			<% end %>
			<% if Questions.count(:id) != 0%>
				<%= f.submit 'Сохранить', id: 'butSend'%>
			<% end %>
		<% end %>

<% end %>