<h2>Анкета</h2>
<table>
	<tr>
		<td><%= button_to 'Добавить вопрос', { :action => 'addQuestion', :controller => 'questions'}, :method => :post %></td>
		<td><%= button_to 'Показать результаты', { :action => 'showans', :controller => 'questions'}, :method => :post %></td>
	</tr>
</table>
<% @i = 1%>
<% @ques.each do |q| %>
<p>
<%= @i %>)
<%= q.textQuestion %>?
<br>
<% @ansMany = Answers.where(questions_id: [@i]) %>
<% @ansMany.each do |a| %>
<p>
<%= radio_button_tag name = @i, 'true', false %> <%= a.textAnswer %>
</p>
</p>
<% end %>
<% @i = @i + 1 %>
<% end %>
<%= button_to 'Сохранить', { :action => 'ans', :controller => 'questions'}, :method => :post %>