<%= render :file => 'questions/admin.html' %> <!-- Вывод панели администратора -->
<head>
	<script type="text/javascript">
	function SelectRB (path) {
		document.getElementById(path).checked = true;
	}
	</script>
</head>
<h2><font color='black'>Мероприятия - </font>Красное озеро</h2>
<h3><font color='black'><i><%= User.current.firstname %> <%= User.current.lastname %></i></font></h3>
<% if User.current.lastname == 'Anonymous' %>
	<b>Авторизуйтесь, чтобы отвечать на вопросы</b>
<% else %>
	<% @check = false %> <!-- Если пользователь администратор: кнопка "Добавить вопрос"; Если ответы есть: кнопка "Посмотреть результаты" -->
	<% @ua.each do |ch| %>
		<% ch.users_id %>
		<% if ch.users_id == User.current.id %>
			<% @check = true %>
		<% end %>
	<% end %>
	<% if @check == true %> <!-- Если Вы отвечали на вопросы -->
		
	<% end %>
		<% if Questions.count(:id) == 0 %>
			<b>Здесь пока нет вопросов</b>
		<% end %>
		<% @i = 0 %> <!-- Порядковый номер вопроса и разное имя для группы radioButton -->
		<%= form_for :post, :url => { :action => 'saveUserAnswer', :controller => 'questions'} do |f| %>
			<% @ques.each do |q| %>			
				<p>
					<% @i = @i + 1 %>
					<b>
						<%= f.label q.textQuestion %>? <!-- Вывод вопроса -->
					</b>
					<br>
					<% @ansMany = Answers.where(questions_id: [q.id]) %> <!-- Вывод соответствующих вариантов ответа -->
					<% @ansMany.each do |a| %>
						<%= f.radio_button @i, a.id, id: a.id %>
						<%= f.label a.textAnswer %> <!-- Текст ответа -->
						<% if a.textAnswer == nil %>			
							<% @t = 'SelectRB('+a.id.to_s()+')' %>
							<% @te = '_' + Answers.where(questions_id: [q.id]).last.id.to_s() %>
							<%= f.text_field @te, onChange:@t.to_s() %>
						<% end %>
						<br> <!-- Отступ с новой строки. Работает на все элементы -->					
					<% end %>

					<br><img id="spl">
				</p>	
				
			<% end %>
			<% if Questions.count(:id) != 0%>
				<%= f.submit 'Сохранить', id: 'butSend'%>
			<% end %>
		<% end %>

<% end %>