<h2>Анкета</h2>
<% if User.current.lastname == 'Anonymous' %>
	<b>Авторизуйтесь, чтобы отвечать на вопросы</b>
<% else %>
	<% @check = false %> <!-- Если пользователь администратор: кнопка "Добавить вопрос"; Если ответы есть: кнопка "Посмотреть результаты" -->
	<% @ua.each do |ch| %>
		<% ch.users_id %>
		<% if ch.users_id == User.current.id %>
			<% @check = true %>
		<% end %>
	<% end %>
	<% if @check == false %> <!-- Если Вы не отвечали на вопросы -->
		<table>
			<tr>
					<% if User.current.admin == true %>
						<td>
							<% if Questions.count(:id) != 0 %>
								<%= button_to 'Показать результаты', { :action => 'showans', :controller => 'questions'}, :method => :post %> <!-- Показать результаты ответа -->
							<% end %>
						</td>					
						<td>
							<%= button_to 'Добавить вопрос', { :action => 'addQuestion', :controller => 'questions'}, :method => :post %>
						</td>
						<td>
							<% if Questions.count(:id) != 0 and Useranswer.count(:id) != 0 %> <!-- Проверка наличия вопроса и ответа -->
								<%= button_to 'Удалить все ответы', { :action => 'delAllAnswers', :controller => 'questions'}, :method => :post %>
							<% end %>
						</td>
						<!-- Добавление нового вопроса. Только администратор -->
					<% end %>		
			</tr>
		</table>
		<% if Questions.count(:id) == 0 %>
			<b>Здесь пока нет вопросов</b>
		<% end %>
		<% @i = 0 %> <!-- Порядковый номер вопроса и разное имя для группы radioButton -->
		<%= form_for :post, :url => { :action => 'saveUserAnswer', :controller => 'questions'} do |f| %>
			<% @ques.each do |q| %>			
				<p>
					<%= @i = @i + 1 %>)
					<b>
						<%= f.label q.textQuestion %>? <!-- Вывод вопроса -->
					</b>
					<br>
					<% @ansMany = Answers.where(questions_id: [q.id]) %> <!-- Вывод соответствующих вариантов ответа -->
					<% @ansMany.each do |a| %>
						<p>
							<%= f.radio_button @i, a.id %> <!-- Кнопка выбора -->
							<%= f.label a.textAnswer %> <!-- Текст ответа -->
						</p>
					<% end %>					
				</p>				
			<% end %>
			<% if Questions.count(:id) != 0 %>
				<%= f.submit 'Сохранить'%>
			<% end %>
		<% end %>

	<% else %> <!-- Если Вы отвечали на вопросы -->
		<p>
			Вы уже отвечали на вопросы
		</p>
		<table>
			<tr>
				<td>
					<%= button_to 'Показать результаты', { :action => 'showans', :controller => 'questions'}, :method => :post %> <!-- Показать результаты ответа -->
				</td>
					<% if User.current.admin == true %> <!-- Администратору видна кнопка добавления вопроса -->
						<td>
							<%= button_to 'Добавить вопрос', { :action => 'addQuestion', :controller => 'questions'}, :method => :post %>
						</td>
						<td>
							<%= button_to 'Удалить все ответы', { :action => 'delAllAnswers', :controller => 'questions'}, :method => :post %>
						</td>
					<% end %>		
			</tr>
		</table>
	<% end %>
<% end %>