<h2>Анкета</h2>
<%= render :file => 'questions/admin.html' %> <!-- Вывод панели администратора -->
<% if User.current.lastname == 'Anonymous' %>
	<b>Авторизуйтесь, чтобы отвечать на вопросы</b>
<% else %>
	<% @check = false %> <!-- Если пользователь администратор: кнопка "Добавить вопрос"; Если ответы есть: кнопка "Посмотреть результаты" -->
	<% @ua.each do |ch| %>
		<% ch.users_id %>
		<% if ch.users_id == User.current.id %>
			<% @check = true %>
		<% end %>
	<% end %>
	<% if @check == true %> <!-- Если Вы отвечали на вопросы -->
		<p>
			<b>Вы уже отвечали на вопросы</b>
		</p>
	<% end %>
		<% if Questions.count(:id) == 0 %>
			<b>Здесь пока нет вопросов</b>
		<% end %>
		<% @i = 0 %> <!-- Порядковый номер вопроса и разное имя для группы radioButton -->
		<%= form_for :post, :url => { :action => 'saveUserAnswer', :controller => 'questions'} do |f| %>
			<% @ques.each do |q| %>			
				<p>
					<%= @i = @i + 1 %>)
					<b>
						<%= f.label q.textQuestion %>? <!-- Вывод вопроса -->
					</b>
					<br>
					<% @ansMany = Answers.where(questions_id: [q.id]) %> <!-- Вывод соответствующих вариантов ответа -->
					<% @ansMany.each do |a| %>
						<% if a.textAnswer != nil %>
							<%= f.radio_button @i, a.id %> <!-- Кнопка выбора -->
							<%= f.label a.textAnswer %> <!-- Текст ответа -->
							<br> <!-- Отступ с новой строки. Работает на все элементы -->					
						<% end %>
					<% end %>
					<% @rt = @i.to_s() + '_'+Answers.where(questions_id: [q.id]).last.id.to_s() %>
					<%= f.radio_button @i, Answers.where(questions_id: [q.id]).last.id %><!-- Элемент, передающий id последнего варианта ответа -->
					<% @text = '_' + Answers.where(questions_id: [q.id]).last.id.to_s() %>
					<%= f.text_field @text %>	<!-- Свободное поле -->
				</p>				
			<% end %>
			<% if Questions.count(:id) != 0%>
				<%= f.submit 'Сохранить'%>
			<% end %>
		<% end %>

<% end %>