<%= render :file => 'questions/admin.html' %> <!-- Вывод панели администратора -->
<head>
	<script type="text/javascript">
	function SelectRB (path) {
		document.getElementById(path).checked = true;
	}
	</script>
</head>
<!-- Все ответы пользователя -->
<% @uaCurrent = Useranswer.where(users_id:[User.current.id]) %>
<% @answersAns = Array.new(@uaCurrent.count) %>
<% @j = 1 %>
<% @uaCurrent.each do |u| %>
	<% @answe = Answers.where(id: [u.answers_id]) %>
	<% @answe.each do |a| %>
			<% @a = a.id %> <!-- Непосредственно вывод ответов пользователя -->
	<% end %>
	<% @answersAns[@j] = @a %>
	<% @j = @j + 1 %>
<% end %>
<!-- Массив id ответов -->
<% @answersAns %>

<h2><font color='black'>Мероприятия - </font>Красное озеро</h2>
<h3><font color='black'><i>
	<% if User.current.lastname != 'Anonymous' %>
		<%= User.current.firstname %> 
		<%= User.current.lastname %>
	<% end %>
</i></font></h3>
<% if User.current.lastname == 'Anonymous' %>
	<b>Авторизуйтесь, чтобы отвечать на вопросы</b>
<% else %>
	<% @check = false %> <!-- Если пользователь администратор: кнопка "Добавить вопрос"; Если ответы есть: кнопка "Посмотреть результаты" -->
	<% @ua.each do |ch| %>
		<% ch.users_id %>
		<% if ch.users_id == User.current.id %>
			<% @check = true %>
		<% end %>
	<% end %>
	<% if @check == true %> <!-- Если Вы отвечали на вопросы -->
		
	<% end %>
		<% if Questions.count(:id) == 0 %>
			<b>Здесь пока нет вопросов</b>
		<% end %>
		<% @i = 0 %> <!-- Порядковый номер вопроса и разное имя для группы radioButton -->
		<%= form_for :post, :url => { :action => 'saveUserAnswer', :controller => 'questions'} do |f| %>
			<% @ques.each do |q| %>			
				<p>
					<% @i = @i + 1 %>
					<b>
						<%= f.label q.textQuestion %>? <!-- Вывод вопроса -->
					</b>
					<br>
					<% @ansMany = Answers.where(questions_id: [q.id]) %> <!-- Вывод соответствующих вариантов ответа -->
					<% @ansMany.each do |a| %>
								<% @textValue = nil %>					
								<% if @answersAns.include?(a.id) and User.current.id == Useranswer.where(answers_id: a.id, users_id: User.current.id).last.users_id %><!-- Проверка на наличие данного ответа. Если так, то отмечаем -->
									<%= f.radio_button @i, a.id, id: a.id, checked: true %>
									<% if Answers.where(id: a.id).last.textAnswer == nil %>
										<% @textValue = Useranswer.where(answers_id: a.id, users_id: User.current.id).last.answer_freeForm %>
									<% end %>
								<% else %>
									<%= f.radio_button @i, a.id, id: a.id %>
								<% end %>
								<%= f.label a.textAnswer %> <!-- Текст ответа -->
								<% if a.textAnswer == nil %>		
									<% @t = 'SelectRB('+a.id.to_s()+')' %> <!-- JavaScript. Автоматический выбор текстового поля -->
									<% @te = '_' + Answers.where(questions_id: [q.id]).last.id.to_s() %>
									<%= f.text_field @te, onChange:@t.to_s(), value: @textValue %>
								<% end %>
						<br>			
					<% end %>

					<br><img id="spl">
				</p>	
				
			<% end %>
			<% if Questions.count(:id) != 0%>
				<%= f.submit 'Сохранить', id: 'butSend'%>
			<% end %>
		<% end %>

<% end %>